{% extends 'base.html'  %}

{% block header %}Let's get to work!{% endblock %}

{% block content %}
<div class="timer-container container-fluid mb-3">
    <p class="text-center display-1 mt-4" id="timer"></p>
    <div class="d-flex justify-content-center timer-controls gap-2">
        <button class="btn btn-secondary" id="start-button">Start</button>
        <button class="btn btn-secondary" id="reset-button">Reset</button>
    </div>
</div>

<div class="exercise-container mt-2" style="display: none">
    <div class="d-flex justify-content-center">
        <div>
            <img id=exercise-img src="" alt="">
            <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-danger" id="block-button"><i class="fa fa-ban"></i> Block</button>
                <button class="btn btn-secondary" id="next-button"><i class="fa fa-forward"></i> Next</button>
            </div>
        </div>

        <div class="exercise-info">
            <h2 id="exercise-name"></h2>
            <ul class="list-group" id="exercise-instructions"></ul>
        </div>
    </div> 
</div>
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script>
    {% if user %}
        let userId = {{ user.id|tojson }}
        let workMins = {{ user.work_length|tojson }};
        let breakMins = {{ user.break_length|tojson }};
    {% else %}
        let userId = null;
        let workMins = 60;
        let breakMins = 5;
    {% endif %}
</script>
<script src="static/timer.js"></script>
{% endblock %}