{% extends 'base.html'  %}

{% block header %}Let's get to work!{% endblock %}

{% block content %}
<div class="timer-container container-fluid mb-3">
    <p class="text-center display-1 mt-4" id="timer"></p>
    <div class="d-flex justify-content-center timer-controls">
        <button class="btn btn-secondary" id="start-button">Start</button>
        <button class="btn btn-secondary" id="reset-button">Reset</button>
    </div>
</div>

<div class="exercise-container" style="display: none">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img id=exercise-img src="" alt="">
        <h2 id="exercise-name"></h2>
        <ul id="exercise-instructions"></ul>
        <button class="btn btn-secondary" id="next-button">Next Exercise</button>
    </div> 
</div>
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
<script>
    {% if user %}
        let workMins = {{ user.work_length|tojson }};
        let breakMins = {{ user.break_length|tojson }};
    {% else %}
        let workMins = 60;
        let breakMins = 5;
    {% endif %}
</script>
<script src="static/timer.js"></script>
{% endblock %}