<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movement Breaks</title>
</head>
<body>
    <h1>Movement Breaks</h1>
    <div class="timer-container">
        <div id="timer-display">
            <p id="timer"></p>
        </div>
        <div class="timer-controls">
            <button id="start-button">Start</button>
            <button id="reset-button">Reset</button>
        </div>
    </div>

    <div class="exercise-container" style="display: none">
        <img id=exercise-img src="" alt="">
        <h2 id="exercise-name"></h2>
        <ul id="exercise-instructions"></ul>
        <button id="next-button">Next Exercise</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
    <script src="static/timer.js"></script>
</body>
</html>